USE [ElevationSystemManager]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 7/21/2019 8:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](100) NOT NULL,
	[PASSWORD] [varchar](100) NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[GENDER] [bit] NULL,
	[EMAIL] [varchar](250) NULL,
	[PHONE] [varchar](12) NULL,
	[ADDRESS] [varchar](250) NULL,
	[ROLE_ID] [int] NULL,
	[DEPARTMENT_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 7/21/2019 8:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](250) NULL,
	[PHONE] [varchar](12) NULL,
	[ADDRESS] [varchar](250) NULL,
	[COMPANY_NAME] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPLAIN]    Script Date: 7/21/2019 8:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPLAIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDER_ID] [int] NOT NULL,
	[ACCOUNT_ID] [int] NOT NULL,
	[IS_CHARGEABLE] [bit] NULL,
	[PROBLEM] [varchar](250) NULL,
	[DATE_COMPLAIN] [date] NULL,
	[STATUS_ID] [int] NOT NULL,
	[TECHNICIAN_PERSON] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 7/21/2019 8:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL]    Script Date: 7/21/2019 8:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DETAIL](
	[ORDERS_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[NUM_OF_SYSTEM_INSTALLED] [int] NULL,
	[PRICE] [decimal](10, 1) NULL,
	[WARRANTY_PERIOD] [int] NULL,
	[WARRANTY_EXPIRE_DATE] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 7/21/2019 8:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CLIENT_ID] [int] NOT NULL,
	[ACCOUNT_ID] [int] NOT NULL,
	[TOTAL_PRICE] [decimal](10, 1) NULL,
	[DATE_OF_ORDER] [date] NULL,
	[DATE_OF_SYSTEM_INSTALLED] [date] NULL,
	[DATE_OF_COMPLETE] [date] NULL,
	[STATUS_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_ELEVATION]    Script Date: 7/21/2019 8:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_ELEVATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](250) NULL,
	[TYPE] [varchar](250) NULL,
	[PRICE] [decimal](10, 1) NULL,
	[DATE_OF_ORDER] [date] NULL,
	[WARRANTY] [int] NULL,
	[WARRANTY_EXPIRE_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 7/21/2019 8:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS_COMPLAIN]    Script Date: 7/21/2019 8:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS_COMPLAIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS_ORDER]    Script Date: 7/21/2019 8:49:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS_ORDER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON 

INSERT [dbo].[ACCOUNT] ([ID], [USERNAME], [PASSWORD], [NAME], [GENDER], [EMAIL], [PHONE], [ADDRESS], [ROLE_ID], [DEPARTMENT_ID]) VALUES (1, N'admin', N'123456', N'Admin -AD', 1, N'admin@gmail.com', N'09328937', N'HCM', 1, 1)
INSERT [dbo].[ACCOUNT] ([ID], [USERNAME], [PASSWORD], [NAME], [GENDER], [EMAIL], [PHONE], [ADDRESS], [ROLE_ID], [DEPARTMENT_ID]) VALUES (2, N'emp1', N'123123', N'Employee ', 0, N'emo@gmail.com', N'01238174', N'HN', 2, 1)
INSERT [dbo].[ACCOUNT] ([ID], [USERNAME], [PASSWORD], [NAME], [GENDER], [EMAIL], [PHONE], [ADDRESS], [ROLE_ID], [DEPARTMENT_ID]) VALUES (13, N'32fewcds', N'32rfdscax', N'32fewcds', 1, N'Da EDIT', N'23fewcsd', N'Da EDIT', 1, 3)
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF
SET IDENTITY_INSERT [dbo].[CLIENT] ON 

INSERT [dbo].[CLIENT] ([ID], [NAME], [PHONE], [ADDRESS], [COMPANY_NAME]) VALUES (1, N'NhatNam', N'092178789', N'HCM Tan Binh', N'SIeuToc')
INSERT [dbo].[CLIENT] ([ID], [NAME], [PHONE], [ADDRESS], [COMPANY_NAME]) VALUES (2, N'AAAA', N'11111111111', N'QXQXX12131', N'CCCCCCCC')
INSERT [dbo].[CLIENT] ([ID], [NAME], [PHONE], [ADDRESS], [COMPANY_NAME]) VALUES (3, N'KH01', N'2222222222', N'XXXXX', N'vvvvvvvvvvvvvvvvv')
SET IDENTITY_INSERT [dbo].[CLIENT] OFF
SET IDENTITY_INSERT [dbo].[COMPLAIN] ON 

INSERT [dbo].[COMPLAIN] ([ID], [ORDER_ID], [ACCOUNT_ID], [IS_CHARGEABLE], [PROBLEM], [DATE_COMPLAIN], [STATUS_ID], [TECHNICIAN_PERSON]) VALUES (2, 4, 2, 1, N'Error Problem AVC', CAST(N'2019-07-01' AS Date), 1, N'ABC')
INSERT [dbo].[COMPLAIN] ([ID], [ORDER_ID], [ACCOUNT_ID], [IS_CHARGEABLE], [PROBLEM], [DATE_COMPLAIN], [STATUS_ID], [TECHNICIAN_PERSON]) VALUES (3, 5, 2, 0, N'Electrice', CAST(N'2019-08-11' AS Date), 2, N'nNham')
INSERT [dbo].[COMPLAIN] ([ID], [ORDER_ID], [ACCOUNT_ID], [IS_CHARGEABLE], [PROBLEM], [DATE_COMPLAIN], [STATUS_ID], [TECHNICIAN_PERSON]) VALUES (1002, 4, 13, 1, N'ABC', CAST(N'2019-07-17' AS Date), 3, N'NAm')
SET IDENTITY_INSERT [dbo].[COMPLAIN] OFF
SET IDENTITY_INSERT [dbo].[DEPARTMENT] ON 

INSERT [dbo].[DEPARTMENT] ([ID], [NAME]) VALUES (1, N'Services ')
INSERT [dbo].[DEPARTMENT] ([ID], [NAME]) VALUES (2, N'Complain')
INSERT [dbo].[DEPARTMENT] ([ID], [NAME]) VALUES (3, N'Order')
SET IDENTITY_INSERT [dbo].[DEPARTMENT] OFF
INSERT [dbo].[ORDER_DETAIL] ([ORDERS_ID], [PRODUCT_ID], [NUM_OF_SYSTEM_INSTALLED], [PRICE], [WARRANTY_PERIOD], [WARRANTY_EXPIRE_DATE]) VALUES (4, 1, 2, CAST(800.0 AS Decimal(10, 1)), 3, CAST(N'2022-06-23' AS Date))
INSERT [dbo].[ORDER_DETAIL] ([ORDERS_ID], [PRODUCT_ID], [NUM_OF_SYSTEM_INSTALLED], [PRICE], [WARRANTY_PERIOD], [WARRANTY_EXPIRE_DATE]) VALUES (5, 2, 1, CAST(2400.0 AS Decimal(10, 1)), 2, CAST(N'2022-06-10' AS Date))
INSERT [dbo].[ORDER_DETAIL] ([ORDERS_ID], [PRODUCT_ID], [NUM_OF_SYSTEM_INSTALLED], [PRICE], [WARRANTY_PERIOD], [WARRANTY_EXPIRE_DATE]) VALUES (6, 3, 2, CAST(2800.0 AS Decimal(10, 1)), 3, CAST(N'2021-12-11' AS Date))
SET IDENTITY_INSERT [dbo].[ORDERS] ON 

INSERT [dbo].[ORDERS] ([ID], [CLIENT_ID], [ACCOUNT_ID], [TOTAL_PRICE], [DATE_OF_ORDER], [DATE_OF_SYSTEM_INSTALLED], [DATE_OF_COMPLETE], [STATUS_ID]) VALUES (1, 2, 1, CAST(2500.0 AS Decimal(10, 1)), CAST(N'2019-06-10' AS Date), CAST(N'2019-06-10' AS Date), CAST(N'2019-06-10' AS Date), 2)
INSERT [dbo].[ORDERS] ([ID], [CLIENT_ID], [ACCOUNT_ID], [TOTAL_PRICE], [DATE_OF_ORDER], [DATE_OF_SYSTEM_INSTALLED], [DATE_OF_COMPLETE], [STATUS_ID]) VALUES (2, 2, 1, CAST(2500.0 AS Decimal(10, 1)), CAST(N'2019-06-10' AS Date), CAST(N'2019-06-10' AS Date), CAST(N'2019-06-10' AS Date), 2)
INSERT [dbo].[ORDERS] ([ID], [CLIENT_ID], [ACCOUNT_ID], [TOTAL_PRICE], [DATE_OF_ORDER], [DATE_OF_SYSTEM_INSTALLED], [DATE_OF_COMPLETE], [STATUS_ID]) VALUES (3, 2, 1, CAST(2500.0 AS Decimal(10, 1)), CAST(N'2019-06-10' AS Date), CAST(N'2019-06-10' AS Date), CAST(N'2019-06-10' AS Date), 2)
SET IDENTITY_INSERT [dbo].[ORDERS] OFF
SET IDENTITY_INSERT [dbo].[PRODUCT_ELEVATION] ON 

INSERT [dbo].[PRODUCT_ELEVATION] ([ID], [NAME], [TYPE], [PRICE], [DATE_OF_ORDER], [WARRANTY], [WARRANTY_EXPIRE_DATE]) VALUES (1, N'Product1', N'Type1', CAST(1200.0 AS Decimal(10, 1)), CAST(N'2019-05-15' AS Date), 3, CAST(N'2022-06-25' AS Date))
INSERT [dbo].[PRODUCT_ELEVATION] ([ID], [NAME], [TYPE], [PRICE], [DATE_OF_ORDER], [WARRANTY], [WARRANTY_EXPIRE_DATE]) VALUES (2, N'Product2', N'Type2', CAST(800.0 AS Decimal(10, 1)), CAST(N'2019-04-20' AS Date), 2, CAST(N'2022-04-20' AS Date))
INSERT [dbo].[PRODUCT_ELEVATION] ([ID], [NAME], [TYPE], [PRICE], [DATE_OF_ORDER], [WARRANTY], [WARRANTY_EXPIRE_DATE]) VALUES (3, N'Product_3', N'Type4', CAST(1100.0 AS Decimal(10, 1)), CAST(N'2019-05-12' AS Date), 3, CAST(N'2022-05-12' AS Date))
SET IDENTITY_INSERT [dbo].[PRODUCT_ELEVATION] OFF
SET IDENTITY_INSERT [dbo].[ROLE] ON 

INSERT [dbo].[ROLE] ([ID], [NAME]) VALUES (1, N'ADMIN')
INSERT [dbo].[ROLE] ([ID], [NAME]) VALUES (2, N'EMPLOYEE')
INSERT [dbo].[ROLE] ([ID], [NAME]) VALUES (4, N'CLIENT')
SET IDENTITY_INSERT [dbo].[ROLE] OFF
SET IDENTITY_INSERT [dbo].[STATUS_COMPLAIN] ON 

INSERT [dbo].[STATUS_COMPLAIN] ([ID], [NAME]) VALUES (1, N'Solved')
INSERT [dbo].[STATUS_COMPLAIN] ([ID], [NAME]) VALUES (2, N'Cannot be solved')
INSERT [dbo].[STATUS_COMPLAIN] ([ID], [NAME]) VALUES (3, N'Pending')
SET IDENTITY_INSERT [dbo].[STATUS_COMPLAIN] OFF
SET IDENTITY_INSERT [dbo].[STATUS_ORDER] ON 

INSERT [dbo].[STATUS_ORDER] ([ID], [NAME]) VALUES (1, N'Processing')
INSERT [dbo].[STATUS_ORDER] ([ID], [NAME]) VALUES (2, N'Complete')
INSERT [dbo].[STATUS_ORDER] ([ID], [NAME]) VALUES (3, N'Cancelled')
SET IDENTITY_INSERT [dbo].[STATUS_ORDER] OFF
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_DEPARTMENT] FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[DEPARTMENT] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_DEPARTMENT]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_ROLE] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE] ([ID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_ROLE]
GO
ALTER TABLE [dbo].[COMPLAIN]  WITH CHECK ADD  CONSTRAINT [FK_COMPLAIN_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[COMPLAIN] CHECK CONSTRAINT [FK_COMPLAIN_ACCOUNT]
GO
ALTER TABLE [dbo].[COMPLAIN]  WITH CHECK ADD  CONSTRAINT [FK_COMPLAIN_ORDERS] FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[ORDERS] ([ID])
GO
ALTER TABLE [dbo].[COMPLAIN] CHECK CONSTRAINT [FK_COMPLAIN_ORDERS]
GO
ALTER TABLE [dbo].[COMPLAIN]  WITH CHECK ADD  CONSTRAINT [FK_COMPLAIN_STATUS_COMPLAIN] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[STATUS_COMPLAIN] ([ID])
GO
ALTER TABLE [dbo].[COMPLAIN] CHECK CONSTRAINT [FK_COMPLAIN_STATUS_COMPLAIN]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAIL_ORDERS] FOREIGN KEY([ORDERS_ID])
REFERENCES [dbo].[ORDERS] ([ID])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_ORDER_DETAIL_ORDERS]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAIL_PRODUCT_ELEVATION] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCT_ELEVATION] ([ID])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_ORDER_DETAIL_PRODUCT_ELEVATION]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_ACCOUNT]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_CLIENT] FOREIGN KEY([CLIENT_ID])
REFERENCES [dbo].[CLIENT] ([ID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_CLIENT]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_STATUS_ORDER] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[STATUS_ORDER] ([ID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_STATUS_ORDER]
GO
/****** Object:  StoredProcedure [dbo].[sp_account_selectByUsername]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_account_selectByUsername]
@USERNAME varchar
as
BEGIN
select * from ACCOUNT WHERE USERNAME=@USERNAME
END
GO
/****** Object:  StoredProcedure [dbo].[sp_accountSelectAll]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_accountSelectAll]
as
BEGIN
select * from dbo.ACCOUNT
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_ACCOUNT_by_id]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_ACCOUNT_by_id]
@ID int

AS
BEGIN
DELETE FROM [dbo].ACCOUNT
WHERE ID = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_CLIENT_by_id]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_CLIENT_by_id]
@ID int

AS
BEGIN
DELETE FROM [dbo].CLIENT
WHERE ID = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_Product_Elevation_by_id]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_delete_Product_Elevation_by_id]
@ID int

AS
BEGIN
DELETE FROM [dbo].PRODUCT_ELEVATION
WHERE ID = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_editAccountById]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* EditAccount*/
create procedure [dbo].[sp_editAccountById]
@ID int,
@PASSWORD varchar
as
BEGIN 
UPDATE ACCOUNT SET PASSWORD =@PASSWORD WHERE ID=@ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_find_ACCOUNT_by_id]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_find_ACCOUNT_by_id]
@ID int

AS
BEGIN
SELECT * FROM [dbo].ACCOUNT
WHERE ID = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_find_CLIENT_by_id]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_find_CLIENT_by_id]
@ID int

AS
BEGIN
SELECT * FROM [dbo].CLIENT
WHERE ID = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_find_Department_by_id]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_find_Department_by_id]
@ID int

AS
BEGIN
SELECT * FROM [dbo].DEPARTMENT
WHERE ID = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_find_Order_Detail_by_id]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_find_Order_Detail_by_id]
@ID int

AS
BEGIN
SELECT * FROM [dbo].ORDER_DETAIL
WHERE ORDERS_ID = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_find_Product_by_id]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_find_Product_by_id]
@ID int

AS
BEGIN
SELECT * FROM [dbo].PRODUCT_ELEVATION
WHERE ID = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_findName_Department_by_id]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_findName_Department_by_id]
@ID int

AS
BEGIN
SELECT NAME FROM [dbo].DEPARTMENT
WHERE ID = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_findName_Product_by_id]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_findName_Product_by_id]
@ID int

AS
BEGIN
SELECT NAME FROM [dbo].PRODUCT_ELEVATION
WHERE ID = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllAccount]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllAccount]
AS
SELECT * FROM ACCOUNT
GO;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllClient]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllClient]
AS
SELECT * FROM CLIENT
GO;
GO
/****** Object:  StoredProcedure [dbo].[sp_getLastID_Orders]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_getLastID_Orders]

AS
BEGIN
SELECT MAX(ID) FROM [dbo].ORDERS
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_ACCOUNT]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_insert_ACCOUNT]
@in_USERNAME varchar(100),
@in_PASSWORD varchar(100),
@in_NAME nvarchar(250),
@in_GENDER bit,
@in_EMAIL varchar(250),
@in_PHONE varchar(12),
@in_ADDRESS varchar(250),
@in_ROLE_ID int,
@in_DEPARTMENT_ID int  
AS
BEGIN
	Insert into ACCOUNT (USERNAME,[PASSWORD],[NAME],GENDER,EMAIL,PHONE,ADDRESS,ROLE_ID,DEPARTMENT_ID)
	values(@in_USERNAME,@in_PASSWORD,@in_NAME,@in_GENDER,@in_EMAIL,@in_PHONE,@in_ADDRESS,@in_ROLE_ID,@in_DEPARTMENT_ID)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_CLIENT]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_insert_CLIENT]

@in_NAME varchar(250),
@in_PHONE varchar(12),
@in_ADDRESS varchar(250),
@in_COMPANY_NAME varchar(250)  
AS
BEGIN
	Insert into CLIENT ([NAME],PHONE,ADDRESS,COMPANY_NAME)
	values(@in_NAME,@in_PHONE,@in_ADDRESS,@in_COMPANY_NAME)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_COMPLAIN]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_insert_COMPLAIN]

@in_ORDER_ID int,
@in_ACCOUNT_ID int,
@in_IS_CHARGEABLE bit,
@in_PROBLEM varchar(250),
@in_DATE_COMPLAIN date,
@in_STATUS_ID int,
@in_TECHNICIAN_PERSON varchar(250)  
AS
BEGIN

	Insert into COMPLAIN (ORDER_ID,ACCOUNT_ID,IS_CHARGEABLE,PROBLEM,DATE_COMPLAIN,STATUS_ID,TECHNICIAN_PERSON)
	values(@in_ORDER_ID,@in_ACCOUNT_ID,@in_IS_CHARGEABLE,@in_PROBLEM,@in_DATE_COMPLAIN,@in_STATUS_ID,@in_TECHNICIAN_PERSON)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_DEPARTMENT]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_insert_DEPARTMENT]

@in_NAME varchar(250)  
AS

BEGIN
	Insert into DEPARTMENT ([NAME])
	values(@in_NAME)
END 
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_ORDER_DETAIL]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_insert_ORDER_DETAIL]

@in_ORDERS_ID int,
@in_PRODUCT_ID int,
@in_NUM_OF_SYSTEM_INSTALLED int,
@in_PRICE decimal,
@in_WARRANTY_PERIOD int,
@in_WARRANTY_EXPIRE_DATE date  
AS
BEGIN
	Insert into ORDER_DETAIL (ORDERS_ID,PRODUCT_ID,NUM_OF_SYSTEM_INSTALLED,PRICE,WARRANTY_PERIOD,WARRANTY_EXPIRE_DATE)
	values(@in_ORDERS_ID,@in_PRODUCT_ID,@in_NUM_OF_SYSTEM_INSTALLED,@in_PRICE,@in_WARRANTY_PERIOD,@in_WARRANTY_EXPIRE_DATE)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_ORDERS]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_insert_ORDERS]

@in_CLIENT_ID int,
@in_ACCOUNT_ID int,
@in_TOTAL_PRICE decimal,
@in_DATE_OF_ORDER date,
@in_DATE_OF_SYSTEM_INSTALLED date,
@in_DATE_OF_COMPLETE date,
@in_STATUS_ID int  
AS
BEGIN

	Insert into ORDERS (CLIENT_ID,ACCOUNT_ID,TOTAL_PRICE,DATE_OF_ORDER,DATE_OF_SYSTEM_INSTALLED,DATE_OF_COMPLETE,STATUS_ID)
	OUTPUT INSERTED.ID
	values(@in_CLIENT_ID,@in_ACCOUNT_ID,@in_TOTAL_PRICE,@in_DATE_OF_ORDER,@in_DATE_OF_SYSTEM_INSTALLED,@in_DATE_OF_COMPLETE,@in_STATUS_ID)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_PRODUCT_ELEVATION]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_insert_PRODUCT_ELEVATION]
@in_NAME varchar(250),
@in_TYPE varchar(250),
@in_PRICE decimal,
@in_DATE_OF_ORDER date,
@in_WARRANTY int,
@in_WARRANTY_EXPIRE_DATE date  
AS
BEGIN
	Insert into PRODUCT_ELEVATION ([NAME],[TYPE],PRICE,DATE_OF_ORDER,WARRANTY,WARRANTY_EXPIRE_DATE)
	values(@in_NAME,@in_TYPE,@in_PRICE,@in_DATE_OF_ORDER,@in_WARRANTY,@in_WARRANTY_EXPIRE_DATE)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_ROLE]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_insert_ROLE]

@in_NAME varchar(250)  
AS
BEGIN
	Insert into [ROLE] ([NAME])
	values(@in_NAME)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_STATUS_COMPLAIN]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_insert_STATUS_COMPLAIN]
@in_NAME varchar(250)  
AS
BEGIN
	Insert into STATUS_COMPLAIN ([NAME])
	values(@in_NAME)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_STATUS_ORDER]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_insert_STATUS_ORDER]
@in_NAME varchar(250)  
AS
BEGIN
	Insert into STATUS_ORDER ([NAME])
	values(@in_NAME)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertAccount]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	/* CreateNewAccount */
create PROCEDURE [dbo].[sp_insertAccount]
	@USERNAME varchar,
	@PASSWORD varchar ,
	@NAME nvarchar,
	@GENDER bit,
	@EMAIL varchar ,
	@PHONE varchar ,
	@ADDRESS varchar ,
	@ROLE_ID int ,
	@DEPARTMENT_ID int  
as
BEGIN
INSERT INTO ACCOUNT VALUES (@USERNAME,@PASSWORD,@NAME,@GENDER,@EMAIL ,@PHONE ,@ADDRESS,@ROLE_ID,@DEPARTMENT_ID)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_maxID_Order]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_select_maxID_Order]

AS
BEGIN
	SELECT TOP 1 ID FROM ORDERS ORDER BY ID DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_ACCOUNT]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_update_ACCOUNT]

@in_PASSWORD varchar(100),
@in_NAME nvarchar(250),
@in_GENDER bit,
@in_EMAIL varchar(250),
@in_PHONE varchar(12),
@in_ADDRESS varchar(250),
@in_ROLE_ID int,
@in_DEPARTMENT_ID int,
@p_ID int,
@p_USERNAME varchar(100)

AS
BEGIN
	UPDATE [dbo].ACCOUNT SET [PASSWORD]=@in_PASSWORD,[NAME]=@in_NAME,GENDER=@in_GENDER,EMAIL=@in_EMAIL,PHONE=@in_PHONE,ADDRESS=@in_ADDRESS,ROLE_ID=@in_ROLE_ID,DEPARTMENT_ID=@in_DEPARTMENT_ID 
	WHERE ID=@p_ID and USERNAME=@p_USERNAME

END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_ACCOUNT1]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_update_ACCOUNT1]
@in_ID int,
@in_USERNAME varchar(100),
@in_PASSWORD varchar(100),
@in_NAME nvarchar(250),
@in_GENDER bit,
@in_EMAIL varchar(250),
@in_PHONE varchar(12),
@in_ADDRESS varchar(250),
@in_ROLE_ID int,
@in_DEPARTMENT_ID int,
@p_ID int,
@p_USERNAME varchar(100)

AS
BEGIN
	UPDATE [dbo].ACCOUNT SET USERNAME=@in_USERNAME,[PASSWORD]=@in_PASSWORD,[NAME]=@in_NAME,GENDER=@in_GENDER,EMAIL=@in_EMAIL,PHONE=@in_PHONE,ADDRESS=@in_ADDRESS,ROLE_ID=@in_ROLE_ID,DEPARTMENT_ID=@in_DEPARTMENT_ID 
	WHERE ID=@p_ID and USERNAME=@p_USERNAME

END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_CLIENT]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_update_CLIENT]
@_NAME varchar(250),
@_PHONE varchar(12),
@_ADDRESS varchar(250),
@_COMPANY_NAME varchar(250) ,
@p_ID int
AS
BEGIN
	UPDATE [dbo].CLIENT SET NAME=@_NAME,PHONE=@_PHONE,ADDRESS=@_ADDRESS,COMPANY_NAME=@_COMPANY_NAME 
	WHERE ID=@p_ID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_COMPLAIN]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_update_COMPLAIN]

@in_ORDER_ID int,
@in_ACCOUNT_ID int,
@in_IS_CHARGEABLE bit,
@in_PROBLEM varchar(250),
@in_DATE_COMPLAIN date,
@in_STATUS_ID int,
@in_TECHNICIAN_PERSON varchar(250) ,
@p_ID int,
@p_ORDER_ID int,
@p_ACCOUNT_ID int,
@p_IS_CHARGEABLE bit,
@p_PROBLEM varchar(250),
@p_DATE_COMPLAIN date,
@p_STATUS_ID int,
@p_TECHNICIAN_PERSON varchar(250) 
AS
BEGIN

	UPDATE [dbo].COMPLAIN SET ORDER_ID=@in_ORDER_ID,ACCOUNT_ID=@in_ACCOUNT_ID,IS_CHARGEABLE=@in_IS_CHARGEABLE,PROBLEM=@in_PROBLEM,DATE_COMPLAIN=@in_DATE_COMPLAIN,STATUS_ID=@in_STATUS_ID,TECHNICIAN_PERSON=@in_TECHNICIAN_PERSON 
	WHERE ID=@p_ID AND ORDER_ID=@p_ORDER_ID AND ACCOUNT_ID=@p_ACCOUNT_ID AND IS_CHARGEABLE=@p_IS_CHARGEABLE AND PROBLEM=@p_PROBLEM AND DATE_COMPLAIN=@p_DATE_COMPLAIN AND STATUS_ID=@p_STATUS_ID AND TECHNICIAN_PERSON=@p_TECHNICIAN_PERSON

END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_DEPARTMENT]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_update_DEPARTMENT]

@in_NAME varchar(250) ,
@p_ID int,
@p_NAME varchar(250) 
AS
BEGIN

	UPDATE [dbo].DEPARTMENT SET [NAME]=@in_NAME 
	WHERE ID=@p_ID AND NAME=@p_NAME

END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_ORDER_DETAIL]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_update_ORDER_DETAIL]

@in_ORDERS_ID int,
@in_PRODUCT_ID int,
@in_NUM_OF_SYSTEM_INSTALLED int,
@in_PRICE decimal,
@in_WARRANTY_PERIOD int,
@in_WARRANTY_EXPIRE_DATE date ,
@p_ORDERS_ID int,
@p_PRODUCT_ID int,
@p_NUM_OF_SYSTEM_INSTALLED int,
@p_PRICE decimal,
@p_WARRANTY_PERIOD int,
@p_WARRANTY_EXPIRE_DATE date 
AS
BEGIN

	UPDATE [dbo].ORDER_DETAIL SET ORDERS_ID=@in_ORDERS_ID,PRODUCT_ID=@in_PRODUCT_ID,NUM_OF_SYSTEM_INSTALLED=@in_NUM_OF_SYSTEM_INSTALLED,PRICE=@in_PRICE,WARRANTY_PERIOD=@in_WARRANTY_PERIOD,WARRANTY_EXPIRE_DATE=@in_WARRANTY_EXPIRE_DATE 
	WHERE ORDERS_ID=@p_ORDERS_ID AND PRODUCT_ID=@p_PRODUCT_ID AND NUM_OF_SYSTEM_INSTALLED=@p_NUM_OF_SYSTEM_INSTALLED AND PRICE=@p_PRICE AND WARRANTY_PERIOD=@p_WARRANTY_PERIOD AND WARRANTY_EXPIRE_DATE=@p_WARRANTY_EXPIRE_DATE

END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_ORDERS]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_update_ORDERS]

@in_CLIENT_ID int,
@in_ACCOUNT_ID int,
@in_TOTAL_PRICE decimal,
@in_DATE_OF_ORDER date,
@in_DATE_OF_SYSTEM_INSTALLED date,
@in_DATE_OF_COMPLETE date,
@in_STATUS_ID int ,
@p_ID int,
@p_CLIENT_ID int,
@p_ACCOUNT_ID int,
@p_TOTAL_PRICE decimal,
@p_DATE_OF_ORDER date,
@p_DATE_OF_SYSTEM_INSTALLED date,
@p_DATE_OF_COMPLETE date,
@p_STATUS_ID int 
AS
BEGIN

	UPDATE [dbo].ORDERS SET CLIENT_ID=@in_CLIENT_ID,ACCOUNT_ID=@in_ACCOUNT_ID,TOTAL_PRICE=@in_TOTAL_PRICE,DATE_OF_ORDER=@in_DATE_OF_ORDER,DATE_OF_SYSTEM_INSTALLED=@in_DATE_OF_SYSTEM_INSTALLED,DATE_OF_COMPLETE=@in_DATE_OF_COMPLETE,STATUS_ID=@in_STATUS_ID 
	WHERE ID=@p_ID AND CLIENT_ID=@p_CLIENT_ID AND ACCOUNT_ID=@p_ACCOUNT_ID AND TOTAL_PRICE=@p_TOTAL_PRICE AND DATE_OF_ORDER=@p_DATE_OF_ORDER AND DATE_OF_SYSTEM_INSTALLED=@p_DATE_OF_SYSTEM_INSTALLED AND DATE_OF_COMPLETE=@p_DATE_OF_COMPLETE AND STATUS_ID=@p_STATUS_ID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_PRODUCT_ELEVATION]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_update_PRODUCT_ELEVATION]
@in_NAME varchar(250),
@in_TYPE varchar(250),
@in_PRICE decimal,
@in_DATE_OF_ORDER date,
@in_WARRANTY int,
@in_WARRANTY_EXPIRE_DATE date ,
@p_ID int,
@p_NAME varchar(250),
@p_TYPE varchar(250),
@p_PRICE decimal,
@p_DATE_OF_ORDER date,
@p_WARRANTY int,
@p_WARRANTY_EXPIRE_DATE date 
AS
BEGIN

	UPDATE [dbo].PRODUCT_ELEVATION SET [NAME]=@in_NAME,[TYPE]=@in_TYPE,PRICE=@in_PRICE,DATE_OF_ORDER=@in_DATE_OF_ORDER,WARRANTY=@in_WARRANTY,WARRANTY_EXPIRE_DATE=@in_WARRANTY_EXPIRE_DATE 
	WHERE ID=@p_ID AND NAME=@p_NAME AND TYPE=@p_TYPE AND PRICE=@p_PRICE AND DATE_OF_ORDER=@p_DATE_OF_ORDER AND WARRANTY=@p_WARRANTY AND WARRANTY_EXPIRE_DATE=@p_WARRANTY_EXPIRE_DATE

END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_ROLE]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_update_ROLE]
@in_NAME varchar(250) ,
@p_ID int,
@p_NAME varchar(250) 
AS
BEGIN
	UPDATE [dbo].[ROLE] SET [NAME]=@in_NAME 
	WHERE ID=@p_ID AND NAME=@p_NAME
END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_STATUS_COMPLAIN]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_update_STATUS_COMPLAIN]
@in_NAME varchar(250) ,
@p_ID int,
@p_NAME varchar(250) 
AS
BEGIN
	UPDATE [dbo].STATUS_COMPLAIN SET [NAME]=@in_NAME 
	WHERE ID=@p_ID AND NAME=@p_NAME

END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_STATUS_ORDER]    Script Date: 7/21/2019 8:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_update_STATUS_ORDER]
@in_NAME varchar(250) ,
@p_ID int,
@p_NAME varchar(250) 
AS
BEGIN
	UPDATE [dbo].STATUS_ORDER SET [NAME]=@in_NAME 
	WHERE ID=@p_ID AND NAME=@p_NAME
END
GO
